<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>
    var data = <%- JSON.stringify(data) %> 
  </script>
</head>

<body>
  <!-- <h1><%= title %></h1>
  <p>Der Rausch des endlosen Datenstroms</p><br> -->
  <p id="clickInfo">Click to Start!</p>

  <img id ="curr-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Amy_Coney_Barrett.jpg/134px-Amy_Coney_Barrett.jpg"
    alt="">

</body>

<footer>

  <script src="js/main.js"></script>
</footer>
</html>