<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/typo.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <script>
      var imgdata = <%-JSON.stringify(imageData) %>
      var txtdata = <%-JSON.stringify(textData) %>
      var isDownloader = <%-JSON.stringify(isDownloader) %>
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="innerTitle">
      <h2 style="margin-top: 10px"><span>Die</span>
      <!--<br/>Reiz<span>&#x2009;/&#x2009;</span>Flut-->
      </h2>
      <p>Klicke zum Starten und aale dich im Rausch der Informationen. <br/>Bewege dich durch den Raum des Affekts — losgelöst von Kontext und Bedeutung.</p><br>
    </div>
    <!--<p id="clickInfo"></p>-->
    <div class="container">
      <div class="wrapper">
        <img class ="raster" src="images/raster2.png">
        <span id ="speed-log" class="speedlog"></span>
        <p id="pMain" class="mainText style1"></p>

        <img id="other-img" text-align="center" src="" alt="">
        <img id="curr-img" text-align="center" src="" alt="">
      </div>
    </div>
  </body>

  <footer>
    <script src="js/main.js"></script>

  </footer>

</html>