* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #666;
  text-align: center;
  font-family: 'GT Alpina', serif;
  font-weight: 300;
  color: blue;
  font-size: 110%;
  cursor: url(../images/big2.png) 15 10, pointer;
  max-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

h2 {
  font-family: 'Cooper';
  font-size: 2em;
  font-weight: 500;
  z-index: 1000 !important;
}

h2 span {
  position: relative;
  display: inline-block;
  z-index: 120 !important;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  /* cursor: pointer; */
}


.crosshair {
  cursor: url(../images/cross.png) 24 24, crosshair;
}

/* #clickInfo {
  width: 100%;
  position: fixed;
  bottom: 10vh;
  z-index: 100;
} */
/* #clickInfo {
  position: absolute;
  left: -10px;
  top: -10px;
  color: grey;
} */


.innerTitle {
  z-index: 120 !important;
}

.innerTitle p {
  position: relative;
  z-index: 120 !important;

}

.wrapper {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  /* width: 85vw;
  height: 90vh; */
  overflow: hidden !important;
  background-color: grey;
  object-fit: cover;
  border-radius: 15px;
  cursor: url(../images/cross.png) 24 24, crosshair;
}


@media (max-width: 768px) {

  body,
  .wrapper {
    width: 100vw;
    height: 100vh;
    overflow: visible !important;
    font-size: 90%;

  }

  .wrapper {
    font-size: 50%;
  }
}

#curr-img,
#other-img {
  position: absolute;
  display: block;
  z-index: 10;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  /* mix-blend-mode: difference; */
  object-fit: cover !important;
}

/* #glitch {
  position: absolute;
  width: 20%;
  right: 0;
  bottom: 0;
  z-index: 99;
  mix-blend-mode: difference;
  display: none;
} */

.raster {
  position: absolute;
  width: 100%;
  object-fit: cover !important;
  height: 100%;
  z-index: 95;
  opacity: .1;
  /* mix-blend-mode: difference; */
  background-color: black;
}


#speed-log {
  position: absolute;
  text-align: left;
  z-index: 100;
  left: 10px;
  bottom: 10px;
  color: black;
  font-size: .8em;
  opacity: 1;
}



.fliess {
  font-size: 2em;
  line-height: 1;
  display: none;

}

.textWrapper {
  /* position: fixed; */
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

}


.downloadMode {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
  background-color: black;
  object-fit: cover;
  border-radius: 0;
  z-index: 1000;
  font-size: 200% !important;

}

.downloadMode .mainText {
  z-index: 1000;
  width: 70vw !important;
}

.downloadMode .speedlog {
  display: none;
  font-size: 50% !important;
  left: 50px !important;
  bottom: 50px !important;
  color: white !important;

}

.downloadMode .raster {
display: none;
}
