@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton/Anton-Regular.woff2') format('woff2'),
        url('../fonts/Anton/Anton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apple Garamond';
    src: url('../fonts/Apple_Gara/AppleGaramond.woff2') format('woff2'),
        url('../fonts/Apple_Gara/AppleGaramond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Distro';
    src: url('../fonts/distro/DistroBlack.woff2') format('woff2'),
      url('../fonts/distro/DistroBlack.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  

@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/Arial_Narrow/ArialNarrow.woff2') format('woff2'),
        url('../fonts/Arial_Narrow/ArialNarrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/Arial_Narrow/ArialNarrow-Italic.woff2') format('woff2'),
        url('../fonts/Arial_Narrow/ArialNarrow-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    font-display: swap;
    font-weight: 100 900;
    font-style: normal;
    src: url('../fonts/Fraunces/Fraunces--latin_basic.woff2') format('woff2');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }
  @font-face {
    font-family: 'Fraunces';
    font-display: swap;
    font-style: italic;
    font-weight: 100 900;
    src: url('../fonts/Fraunces/Fraunces-Italic--latin_basic.woff2') format('woff2');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }
  @font-face {
    font-family: 'Cooper';
    src: url('../fonts/Cooper/CooperBlack.woff2') format('woff2'),
      url('../fonts/Cooper/CooperBlack.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }


#pMain {
    position: absolute;
    max-width: 70vw;
    z-index: 100;
    /* word-break: break-all; */
}

.hStyle0 {
    font-size: 5em;
    font-family: 'Anton';
    font-weight: normal;
    line-height: 1em;
    letter-spacing: -1px;
    color: red;
}

.hStyle1 {
    font-size: 5em;
    font-family: 'Apple Garamond';
    font-weight: normal;
    line-height: .83em;
    letter-spacing: -1px;
    color: blue;
}

/* .hStyle2 {
    font-size: 3em;
    font-family: 'Poster';
    font-weight: normal;
    line-height: .6em;
    letter-spacing: -2px;
    color: blue;
} */

.hStyle2 {
    font-size: 6em;
    font-family: 'Cooper';
    font-weight: bold;
    line-height: 0.78em;
    letter-spacing: 0px;
    color: blue;
}
.hStyle3 {
    font-size: 2em;
    font-family: 'Distro';
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 0px;
    color: blue;
}

.pStyle0 {
    font-size: 1.4em;
    font-family: 'Arial Narrow';
    font-weight: normal;
    line-height: 1em;
    /* letter-spacing: -1px; */
    color: yellow;
    width: 900px;
}
.pStyle1 {
    font-size: 1em;
    font-family: 'Arial Narrow';
    font-weight: normal;
    line-height: 1em;
    /* letter-spacing: 0px; */
    color: yellow;
    width: 800px;
}

.transparent {
    color: transparent !important;
}

.balken {
    text-shadow: none !important;
    color: black !important;
    background-color: black !important;
    line-height: 120%;
}


.emojistyle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em !important;
    color: black !important;
    background-color: white;
    /* border: 2px solid white; */
    border-radius: 10px;
    padding: 15px 15px 20px 15px;
    max-width: 500px !important;
    text-align: left;
}

.downloadMode .emojistyle {
    font-size: .8em !important;
    max-width: 700px !important;
}