@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton/Anton-Regular.woff2') format('woff2'),
        url('../fonts/Anton/Anton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apple Garamond';
    src: url('../fonts/Apple_Gara/AppleGaramond.woff2') format('woff2'),
        url('../fonts/Apple_Gara/AppleGaramond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Distro';
    src: url('../fonts/distro/DistroBold.woff2') format('woff2'),
      url('../fonts/distro/DistroBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'Poster';
    src: url('../fonts/Poster/POSTER-regular.woff2') format('woff2'),
        url('../fonts/Poster/POSTER-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/Arial_Narrow/ArialNarrow.woff2') format('woff2'),
        url('../fonts/Arial_Narrow/ArialNarrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#pMain {
    position: absolute;
    width: 1000px;
    max-width: 80vw;
    z-index: 100;
    /* word-break: break-all; */
}

.hStyle0 {
    font-size: 3em;
    font-family: 'Anton';
    font-weight: normal;
    line-height: 1em;
    letter-spacing: -1px;
    color: red;
}

.hStyle1 {
    font-size: 4em;
    font-family: 'Apple Garamond';
    font-weight: normal;
    line-height: .83em;
    letter-spacing: -1px;
    color: blue;
}

/* .hStyle2 {
    font-size: 3em;
    font-family: 'Poster';
    font-weight: normal;
    line-height: .6em;
    letter-spacing: -2px;
    color: blue;
} */
.hStyle3 {
    font-size: 3em;
    font-family: 'Distro';
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 0px;
    color: blue;
}

.pStyle0 {
    font-size: 1.3em;
    font-family: 'Arial Narrow';
    font-weight: normal;
    line-height: 1em;
    letter-spacing: 0px;
    color: yellow;
}


.transparent {
    color: transparent !important;
}

.balken {
    text-shadow: none !important;
    color: black !important;
    background-color: black !important;
    line-height: 120%;
}


.emojistyle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em !important;
    color: black !important;
    background-color: white;
    /* border: 2px solid white; */
    border-radius: 10px;
    padding: 15px 15px 20px 15px;
    max-width: 500px !important;
    text-align: left;
}

.downloadMode .emojistyle {
    font-size: .8em !important;
    max-width: 700px !important;
}